<div class="row mb-3">
  <div class="col">
    <h2 class="mb-0">{{ titulo }}</h2>
    <small class="text-muted">Alta de usuario con valoración de contraseña</small>
  </div>
</div>

<div class="row g-3">
    <div class="col-12 col-lg-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title mb-3">Datos</h5>

        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            id="nombre"
            type="text"
            class="form-control"
            [value]="nombre()"
            (input)="onNombreInput($event)"
            placeholder="Ej. Valeriano"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            id="password"
            type="password"
            class="form-control"
            [value]="password()"
            (input)="onPasswordInput($event)"
            placeholder="Introduce tu contraseña"
          />
        </div>

       
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card shadow-sm h-100">
      <div class="card-body">
        <h5 class="card-title mb-3">Validación</h5>

        @if (password().trim()) {
          <p>
            Fortaleza:
            <span [class]="fortalezaClase()">
              {{ fortalezaTexto() }}
            </span>
            
          </p>

          <div class="progress mb-3" style="height: 20px;">
            <div
              [class]="barraFortalezaClase()"
              role="progressbar"
              [style.width.%]="barraFortalezaValor()"
              [attr.aria-valuenow]="barraFortalezaValor()"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ barraFortalezaValor() }}%
            </div>
          </div>

          <ul class="mb-3">
            <li [class.text-success]="tieneMinimoCaracteres()" [class.text-danger]="!tieneMinimoCaracteres()">
              Mínimo 8 caracteres
            </li>
            <li [class.text-success]="tieneMayuscula()" [class.text-danger]="!tieneMayuscula()">
              Contiene mayúscula
            </li>
            <li [class.text-success]="tieneNumero()" [class.text-danger]="!tieneNumero()">
              Contiene número
            </li>
            <li [class.text-success]="tieneSimbolo()" [class.text-danger]="!tieneSimbolo()">
              Contiene símbolo
            </li>
          </ul>
        } @else {
          <div class="text-muted">
            Introduce una contraseña para evaluar su fortaleza.
          </div>
        }

        <!-- @if (nombre().trim()) {
          <p class="mb-0">
            Usuario actual: <strong>{{ nombre() }}</strong>
          </p>
        } -->
      </div>
    </div>
  </div>

</div>

