<!-- <h2>Listado de alumnos zoneless</h2>

@if (alumnos.length > 0) {
  <ul>
    @for (alumno of alumnos; track alumno.id) {
      <li>{{ alumno.nombre }}</li>
    }
  </ul>
} @else {
  <p>No hay alumnos cargados</p>
}  -->

 
<h2>Listado de alumnos CON AsyncPipe</h2>


@if (alumnos$ | async; as lista) {
  <ul>
    @for (alumno of lista; track alumno.id; let primero=$first) {
       <li class="alumno-item">
        <a class="alumno-link" [routerLink]="['/alumno', alumno.id]"> 
        <img class="alumno-avatar"
        [ngSrc]="
            'https://randomuser.me/api/portraits/' +
            (alumno.id % 2 === 0 ? 'women/' : 'men/') +
            alumno.id +
            '.jpg'
          "
          width="64"
          height="64"
          [alt]="'Foto de ' + alumno.nombre"
          [priority]="primero"
          >
          <span class="alumno-nombre">{{ alumno.nombre }}</span>
          </a>
        </li>
    }
  </ul>
} @else {
  <p>Cargando alumnos...</p>
} 


<!-- 
<h2>Listado de alumnos CON toSignal</h2>

<p>Total: {{ totalAlumnos() }}</p>

@if (alumnosSignal().length > 0) {
  <ul>
    @for (alumno of alumnosSignal(); track alumno.id) {
      <li>{{ alumno.nombre }}</li>
    }
  </ul>
} @else {
  <p>Cargando alumnos...</p>
} -->